[submodule "pggb"]
	path = modules/pggb
	url = https://github.com/pangenome/pggb.git
[submodule "mqlib_fork"]
	path = modules/MQLib
	url = https://github.com/JoshCudby/MQLib.git
	branch = master
[submodule "qpg"]
	path = modules/qpg
	url = https://github.com/jkbonfield/qpg/
[submodule "QOKit"]
	path = modules/QOKit
	url = https://github.com/jpmorganchase/QOKit.git
[submodule "modules/cotengra"]
	path = modules/cotengra
	url = https://github.com/jcmgray/cotengra.git
