[submodule "pggb"]
	path = pggb
	url = https://github.com/pangenome/pggb.git
[submodule "mqlib_fork"]
	path = MQLib
	url = https://github.com/JoshCudby/MQLib.git
	branch = master
[submodule "qpg"]
	path = qpg
	url = https://github.com/jkbonfield/qpg/
[submodule "QOKit"]
	path = QOKit
	url = https://github.com/jpmorganchase/QOKit.git
