**/*.pyc

qpg/

/tmp
build/**/*

**/notebooks/*.out
**/notebooks/*.var
**/notebooks/*.wat
**/notebooks/*.wcnf

**/out/

.vscode/
qubo_solvers/code_for_dwave/

data/gfLaeSulp1/gfLaeSulp1.gaf
data/gfLaeSulp1/gfLaeSulp1.gfa
data/**/raw/**/*


**/.ipynb_checkpoints/**/*
**/ctg_cache/**/*
*venv