**/*.pyc

qubo_solvers/out/**/*.npy
qubo_solvers/out/**/*.txt
qubo_solvers/out/**/*build*
qubo_solvers/out/**/*full*
qubo_solvers/out/**/*gfa*
!qubo_solvers/out/**/*compiled.txt

.vscode/
qubo_solvers/code_for_dwave/