[submodule "mqlib_fork"]
	path = qubo_solvers/MQLib
	url = https://github.com/JoshCudby/MQLib.git
	branch = master
[submodule "qpg"]
	path = modules/qpg
	url = https://github.com/jkbonfield/qpg/
[submodule "pangene_fork"]
	path = modules/pangene_fork
	url = git@gitlab.internal.sanger.ac.uk:QPG/pangene_fork.git
[submodule "modules/openqaoa"]
	path = modules/openqaoa
	url = git@gitlab.internal.sanger.ac.uk:QPG/openqaoa_fork.git
[submodule "qiskit_simulation/qopt-best-practices"]
	path = qiskit_simulation/qopt-best-practices
	url = https://github.com/qiskit-community/qopt-best-practices.git
[submodule "modules/oatk"]
	path = modules/oatk
	url = https://github.com/c-zhou/oatk.git
[submodule "modules/qaoa_training_pipeline"]
	path = modules/qaoa_training_pipeline
	url = git@github.com:JoshCudby/qaoa_training_pipeline.git
